<%= render 'shared/links' %>
<% if notice %>
    <%=notice%><br><br>
<% end %>
<h1>Welcome</h1>
<p>Welcome to my site</p>
<p>You have visited <%=@count%> times.<br>
<% if @fave_foods %>
Your favorite foods are: <%= @fave_foods[0] %>, <%= @fave_foods[1] %> and <%= @fave_foods[2] %><br>
<% end %>
Your favorite drink is: <%= @fave_drink %><br>
Your favorite color is: <%= @fave_color %><br>
</p><br>

